@font-face {
	font-family: Fjalla One;
	src: local("Fjalla One"), local("FjallaOne-Regular"), url(http://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
